<div class="row">
  <h1>Proyectos</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 part1">
      <h1>Coder Web</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quo. Molestiae animi dolores sit et, qui necessitatibus exercitationem sapiente labore ut adipisci rerum, sint debitis dolor. Eveniet tempore accusamus quam.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
      <img src="../../../assets/coderWeb.png" class="img-fluid img-project"> 
    </div>
  </div>
</div>
