<div class="row">
  <h1>Hard y Soft</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'CSS'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'JS'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'ENGLISH'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'SCRUM'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'TEAM WORK'"
      [titleColor]="'blue'"
      [titleFontSize]="'25px'"
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
    
</div>
