<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.png" class="img-fluid" id="perfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">SCHIOPPA, Matias Nahuel</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, adipisci officia labore odit corrupti omnis, reprehenderit maxime porro repellendus eligendi dolor accusamus, amet aliquam ratione aut facere maiores deleniti? Recusandae?</p>
    </span>
  </div>
</div>
